<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title> Raising children with Baumrind's styles </title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"> </script>
  <script src ="javascripts/main.js"> </script>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
  <div id="header">
    <div id="logo">
      <h1> Parenting styles </h1>
    </div>
    <nav>
      <a href = "/"> Restart </a>
      <a href = "/"> End game </a>
      <a href = "/"> Help </a>
      <!--<ul>
        <li> <a href = "/"> Restart </a> </li>
        <li> <a href = "/"> End game </a> </li>
        <li> <a href = "/"> Help </a> </li>
      </ul>-->
    </nav>
  </div>

  <div id = "main_content">
  {{{body}}}
  </div>

  <div id="footer">
    <p> Contact </p>
  </div>
</body>

</html>
