<h2> Scenario: </h2>

  <p id="scenario"> </p>

<h2> Parental response: </h2>
<form>
  <ul id="p_choices"> </ul>
  <input id="s_button" type = "submit" value="Submit">
  <p id="r_button"> </p>
</form>

<div id="all_scores"> <h2> Scores:  </h2>
  <div id="p_scores"> <h3>Parental scores:</h3>
    Control:
    <p id="control"> </p>
    Support:
    <p id="support"> </p>
  </div>

  <div id="c_scores"> <h3>Child's outcome scores:</h3>
    <p>Social skills:</p>
    <p>Academic achievement:</p>
    <p>Self-esteem:</p>
    <p>Self-regulation:</p>
  </div>
</div>
