<div id = "home_content">
<h1> Baumrind's 4 parenting styles </h1>
<ul>
  <li> <b>Authoritative:</b> provide a lot of support for the child but also setting boundaries </li>
  <li> <b>Authoritarian:</b> expect the children follow the rule without questions </li>
  <li> <b>Permissive:</b> provide what the child wants without boundaries </li>
  <li> <b>Neglectful:</b> not give attention to the child's need </li>
</ul>

<p> You will raise your child with this style </p>

<div id="button_start">
  <button type = "button"> <a href = "/game"> START GAME </a> </button>
</div>

</div>
